/* ------------------- General Styles ------------------- */
body {
    padding-top: 15px;
    padding-bottom: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container>hr {
    margin: 20px 0;
}

/* ------------------- Navbar ------------------- */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

body>.navbar {
    font-size: 13px;
}

body>.navbar .brand {
    padding: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1),0 0 30px rgba(255,255,255,.125);
    transition: all .2s linear;
}

body>.navbar .brand:hover {
    text-decoration:none;
    text-shadow:0 1px 0 rgba(255,255,255,.1),0 0 30px rgba(255,255,255,.4);
}

/* ------------------- Header (Jumbotron) ------------------- */
.jumbotron {
    position: relative;
    padding: 120px 0 80px 0; /* taller header */
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: linear-gradient(45deg, #30393C 0%, #000000 100%);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbotron:after {
    content:'';
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    opacity:.4;
}

.lead {
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 200;
    line-height: 25px;
}

/* ------------------- Footer ------------------- */
#footer {
    padding: 120px 0 80px 0; /* same height as header */
    background-color: #000;
    color: #fff;
    text-align: center;
}

#footer h3 {
    font-size: 19px;
    text-transform: uppercase;
    color: #8DBECE;
    border-bottom: 1px solid #30393C;
    line-height: 35px;
    margin: 25px 0 20px 0;
    font-weight: normal;
}

#footer a {
    color: #f1c40f;
    text-decoration: none;
}

#footer p {
    color: #8F8F8F;
    font-size: 11px;
}

/* ------------------- Carousel ------------------- */
.carousel-image {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-caption {
    background: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 8px;
}

/* ------------------- Sections ------------------- */
h2 {
    font-weight: 700;
    margin-bottom: 30px;
}

.my-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.p-3 {
    padding: 20px;
}

.mb-3 {
    margin-bottom: 15px;
}

.btn-lg {
    padding: 12px 25px;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.span4, .span3 {
    float: left;
    margin-right: 2%;
    box-sizing: border-box;
}

.span4:last-child, .span3:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .span4, .span3 {
        width: 100%;
        margin-bottom: 20px;
        float: none;
    }
}
