/* =========================
   GENERAL STYLES
   ========================= */
body {
    padding-top: 15px;
    padding-bottom: 0px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container>hr {
    margin: 20px 0;
}

/* =========================
   NAVBAR STYLES
   ========================= */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

body>.navbar {
    font-size: 13px;
}

/* =========================
   JUMBOTRON / HEADER
   ========================= */
.jumbotron {
    position: relative;
    padding: 45px 0 35px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: linear-gradient(45deg, #30393C 0%, #000000 100%);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2);
}

.lead {
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.2;
}

/* =========================
   PAGE HEADER
   ========================= */
.page-header h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

/* =========================
   THUMBNAILS / IMAGES
   ========================= */
.thumbnail img {
    max-width: 100%;
    border-radius: 5px;
}

/* =========================
   ROW / GRID
   ========================= */
.row-fluid {
    margin-left: 0;
    margin-right: 0;
}

/* =========================
   SIDENAV
   ========================= */
.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav>li>a {
    display: block;
    width: 200px;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav>.active>a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.bs-docs-sidenav>li>a:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
    .bs-docs-sidenav { display: none !important; }
}

/* =========================
   FOOTER
   ========================= */
#footer {
    z-index: 10;
    margin-top: 50px;
    padding: 25px 20px;
    border-top: 8px solid #2F2F2F;
    background-color: #000;
    text-align: center;
}

#footer .footer-section {
    flex: 1 1 250px;
    min-width: 250px;
    margin-bottom: 20px;
}

#footer h3 {
    color: #f1c40f !important;
    font-weight: bold;
    margin-bottom: 10px;
}

#footer p, 
#footer address {
    color: #ffffff;
    font-size: 12px;
    margin: 3px 0;
}

#footer a {
    color: #1189D9 !important;
    font-weight: bold;
    text-decoration: none;
}

#footer a:hover {
    color: #f1c40f !important;
    text-decoration: underline;
}

/* =========================
   MISC STYLES
   ========================= */
.lead, p, li {
    text-align: justify;
}

hr {
    border-color: rgba(0,0,0,.1);
}

.feature-item:hover, 
.post_row .post:hover {
    box-shadow: 0px 1px 5px 1px rgb(216,216,216);
}

.feature-item img {
    max-width: 90%;
    height: 200px;
    margin: 0 15px;
}

.centered {
    text-align: center;
}
