/* =======================
   GLOBAL
======================= */
body {
    padding-top: 15px;
    padding-bottom: 0;
}

/* =======================
   FORCE 95% WIDTH EVERYWHERE
======================= */
.container,
.container-fluid,
.navbar-inner,
.masthead,
.jumbotron,
#overview,
.row,
.row-fluid,
#footer {
    width: 95%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Prevent Bootstrap side overflow */
.row,
.row-fluid {
    margin-left: 0;
    margin-right: 0;
}

/* =======================
   IMAGES & MEDIA
======================= */
img,
.carousel img,
img.carousel-image,
iframe,
video {
    max-width: 100%;
    height: auto;
}

/* =======================
   NAVBAR
======================= */
.navbar {
    margin-bottom: 20px;
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

/* =======================
   JUMBOTRON
======================= */
.jumbotron {
    padding: 45px 0 35px;
    color: #fff;
    text-align: center;
    background: linear-gradient(45deg, #30393C 0%, #000000 100%);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),
                inset 0 -3px 7px rgba(0,0,0,.2);
}

.lead {
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 200;
    line-height: 15px;
}

/* =======================
   CONTENT BOXES
======================= */
.box_cont {
    background: #f9f9f9;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.05);
}

/* =======================
   MAP
======================= */
iframe.map-frame {
    width: 100%;
    height: 550px;
    border: none;
    margin: 10px 0;
}

/* =======================
   FOOTER
======================= */
#footer {
    margin-top: 50px;
    padding: 25px 0;
    background-color: #000;
    text-align: center;
}

#footer h3 {
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #30393C;
    line-height: 35px;
    margin: 25px 0 20px;
    font-weight: bold;
}

#footer p,
#footer address,
#footer a,
#footer span {
    font-size: 11px;
    font-weight: bold;
}

/* Highlight contact info */
#footer p.contact-info,
#footer address.contact-info,
#footer a.show-map {
    color: #FFD700 !important;
}

#footer a:hover {
    color: #f1c40f !important;
    text-decoration: none;
}

/* =======================
   MOBILE FIX
======================= */
@media (max-width: 768px) {
    .container,
    .navbar-inner,
    .jumbotron,
    #footer {
        width: 98%;
    }
}
